{% extends 'base.html' %} {% block content %}

<ul>
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between">
      <h1>{{ post.title}}</h1>
      <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </div>
    <div class="card-body">{{ post.body }}</div>
  </div>
  <div class="card-footer d-flex justify-content-between p-4">
    <a
      href="{% url 'edit_post' post.slug post.id%}"
      class="btn btn-primary btn-lg"
      >Edit Post</a
    >
    <a href="" class="btn btn-danger btn-lg">Delete Post</a>
  </div>
</ul>

{% endblock %}
